<html>
  <body>
    <form action="/albums/newalbum" method="POST">
        Title:
        <input type="text" name="title">
        <p>Release Year:
        <input type="text" name="release_year"></p>
        <p>Artist ID:
        <input type="text" name="artist_id"></p>
        <p><input type="submit" value="submit the new album"></p>
    </form>
  </body>
</html>